
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;

}
.div-card-login{
    background-color:blueviolet;
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
}
.h1-login-class{
font-family: monospace;
}
