body{
    padding: 0px;
    margin: 0px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    height:680px;
    /* width:100%; */
    padding: 0px;
    margin: 0px;

}
.div-card-login{
    background-color:blue;
    height: 300px;
    width: 350px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.h1-login-class{
font-family: monospace;
}
.search-class{
    height: 14px;
    width: 150px;
}